{% extends 'components/layout.html' %}

{% block content %}

<head>
  <link rel="stylesheet" href="/static/css/tables.css">
</head>

<div class="container">
  <h1 class="title">Usuarios</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Telefono</th>
        <th scope="col">Usuario</th>
        <th scope="col">Password</th>
        <th scope="col">Rol</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
        <td>{{ user[4] }}</td>
        <td>{{ user[5] }}</td>
        <td>
          <a href="#" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
            <!-- Agrega la ruta adecuada para eliminar el usuario -->
            <button class="btn btn-delete">Eliminar</button>
          </a>
          <a href="#"> <!-- Agrega la ruta adecuada para editar el usuario -->
            <button class="btn btn-edit">Modificar</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="#">
    <button class="btn btn-primary">Agregar Usuario</button>
  </a>

</div>
{% endblock %}