<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página en Construcción</title>
  <link rel="stylesheet" href="../../static/css/styles_logout.css">
</head>

<body>
  <div class="construction">
    <h1>¡Página en Construcción!</h1>
    <p>Disculpa las molestias, estamos trabajando para que todo funcione a la perfección.</p>
    <img src="../../static/img/fabri_programando.jpg" alt="Programmer" class="programmer-img">
  </div>
</body>

</html>
